@import url(./fonts.css);

.roboto {
    font-family: "Roboto", sans-serif;
}

.product-sans {
    font-family: "Product Sans", sans-serif;
}

span {
    line-height: 100%;
}

.fw-semibold {
    font-weight: 600;
}

.text-main {
    color: rgba(33, 33, 33, 1) !important;
}

body {
    color: rgba(33, 33, 33, 1);
    font-family: "Product Sans", sans-serif;
}

footer {
    position: relative;
    z-index: 1;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 -4px 40px rgba(0, 0, 0, 0.07);
}

.f-link {
    font-size: 12px;
}

.signupSigninPage {
    min-height: calc(100vh - 54.5px);
    background-image: linear-gradient(to right, #34C759 50%, #FFFFFF 50%);
}

.ssp-container {
    max-width: 2000px;
    margin: 0 auto;
}

.ssp-right,
.ssp-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ssp-right {
    background-color: #34C759;
}

.ssp-left {
    background-color: #FFFFFF;
}

.ssp-content {
    width: 400px;
    max-width: 100%;
}

.sspf-title {
    font-size: 18px;
}

.gap-6px {
    gap: 6px;
}

.gap-10px {
    gap: 10px;
}

.gap-18px {
    gap: 18px;
}

.gap-20px {
    gap: 20px;
}

.gap-2px {
    gap: 2px;
}

.ssp-label {
    font-size: 14px;
}

.ssp-box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(60, 63, 66, 0.15), 0 1px 4px rgba(60, 63, 66, 0.15);
    border-radius: 8px;
}

.ssp-inp {
    padding: 11px 16px;
    font-size: 12px;
    line-height: 150%;
    border: 1px solid rgba(238, 238, 238, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
}

.ssp-inp::placeholder {
    color: rgba(95, 99, 104, 0.87);
}

.ssp-radio {
    color: rgba(95, 99, 104, 0.87);
}

.form-check-input[type="radio"] {
    width: 18px;
    height: 18px;
    margin-top: 0px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    background-size: 10px;
    box-shadow: none !important;
    background-position: center;
    border: 1px solid rgba(210, 210, 210, 1) !important;
}

.form-check-input[type="radio"]:checked {
    background-image: url(../img/circle-green.svg);
}

.ssp-eye-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.ssp-radio {
    cursor: pointer;
}

.ssp-eye-icon.slash::before {
    content: "";
    height: 24px;
    width: 1px;
    background-color: rgba(95, 99, 104, 0.87);
    position: absolute;
    right: 45%;
    top: 53%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.text-green {
    color: #34C759;
}

.text-secondary {
    color: rgba(95, 99, 104, 0.87) !important;
}

.text-grey{
    color: #5F6368 !important;
}

.sspf-text {
    font-size: 12px;
}

.btn-main {
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #34C759;
    color: #FFFFFF;
    line-height: 100%;
    font-size: 14px;
    border-color: #34C759 !important;
}

.sspf-text-2 {
    font-size: 14px;
    color: #888888;
    line-height: 140%;
}

.ssp-laptop {
    height: 680px;
    object-fit: contain;
}

.ssp-radio {
    flex-basis: 80px;
}

.adg-title {
    font-size: 32px;
}

.adg-pill {
    padding: 6px 16px;
    font-size: 18px;
    color: #000000;
    line-height: 120%;
    border-radius: 50px;
    background-color: #FFFFFF;
    text-align: center;
    width: fit-content;
}

.ssp-or {
    position: relative;
}

.ssp-or::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(238, 238, 238, 1);
    z-index: 0;
}

.ssp-or-circle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 34px;
    width: 34px;
    font-size: 12px;
    color: rgba(95, 99, 104, 0.87);
    background-color: #FFFFFF;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.profile-icon img {
    height: 24px;
    width: 24px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.nav-link {
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 13px;
}

.navbar-nav {
    gap: 26px;
}

header {
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nav-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hsc-inp {
    padding: 8px 12px;
    font-size: 12px !important;
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 3px rgba(60, 63, 66, 0.32), 0 1px 4px rgba(60, 63, 66, 0.15);
    border: 1px solid transparent;
    width: 340px;
}

.hsc-btn {
    padding: 0;
    border-radius: 100px;
    background-color: transparent !important;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.hsc-inp::placeholder {
    color: rgba(0, 0, 0, 0.87);
}

.main-page {
    min-height: calc(100vh - 112px);
}

.page-title-bg {
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBF9EE;
}

.abt-text {
    font-size: 12px;
    font-weight: 400;
    color: #5F6368;
    line-height: 150%;
}

.abt-img {
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
}

.abt-sm {
    font-size: 14px;
}

.abt-normal {
    font-size: 16px;
}

.abti-2 {
    height: unset !important;
}

.sec-title {
    font-size: 32px;
}

.feat-link {
    font-weight: 700;

}

.feat-card {
    padding: 26px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 3.5px 50px rgba(0, 0, 0, 0.08);
}

.feat-title {
    font-size: 16.5px;
    color: #000000;
    font-weight: 700;
}

.feat-desc {
    color: #202124;
    font-size: 13.5px;
}

.leagues-logos {
    object-fit: contain;
    filter: grayscale(1);
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


.tf-title {
    font-size: 24px;
    font-weight: 500;
}

.tf-numbers {
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 280px;
    height: 260px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.tf-text {
    font-size: 14px;
    color: #5F6368;
    line-height: 150%;
}

.tf-content {
    gap: 18px;
    width: 450px;
    max-width: 100%;
}

.tfn-title {
    font-size: 48px;
}

.tfn-desc {
    font-size: 24px;
}

.slider-sec {
    max-width: 100%;
    overflow-x: hidden;
}

.tournamets-flex {
    gap: 40px;
}

.sc-slide {
    padding: 0 12px;
}

.sc-img {
    height: 353px;
    object-fit: contain;
    width: auto;
}

.slider-sec {
    background-color: rgba(52, 199, 89, 0.06);
}

.carousel {
    max-width: 100%;
}

.carousel .slick-track {
    display: flex;
    padding: 50px 0;
    gap: 60px;
    align-items: center;
}

.carousel .slick-slide:not(.slick-active) .sc-img {
    opacity: 0.4;
}

.carousel .slick-active {
    position: relative;
    z-index: 1;
    transform: scale(1.2);
}

.slick-arrows {
    height: unset;
    width: unset;
    z-index: 2;
    transform: translate(0, -50%);
}

.slick-arrows::before {
    content: unset;
}

.slick-next {
    right: calc(50% - 500px);
}

.slick-prev {
    left: calc(50% - 500px);
}

.badge {
    padding: 3px 8px;
    border-radius: 5.3px;
}

.badge-private {
    background-color: #FF2D55;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}

.group-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.group-logo {
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 1);
}

.gi-content {
    gap: 27px;
}

.gi-name {
    font-size: 18px;
}

.gic-value {
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.gic-label {
    font-size: 12px;
    color: rgba(136, 136, 136, 1);
}

.gi-stats {
    gap: 22px;
}

.top-neg {
    transform: translateY(-60px);
}

.g-right-flex {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.invite-box {
    background-color: #AF52DE;
    border-radius: 8px;
    padding: 17px 14px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.ib-label {
    font-size: 12px;
}

.btn-invite {
    border: 1px solid #FFFFFF !important;
    line-height: 100%;
    color: #AF52DE;
    padding: 5px 12px;
    width: 100%;
    border-radius: 100px;
    font-size: 12px;
    background-color: #FFFFFF;
}

.btn-invite:hover {
    color: #FFFFFF;
    background-color: #AF52DE;
}

.btn-invite:hover path {
    stroke: #FFFFFF;
}

.members-box {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(60, 63, 66, 0.15), 0 1px 4px rgba(60, 63, 66, 0.15);
}

.mb-top {
    padding: 16px 13px 0;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.mb-bottom {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 0 13px 8px;
    display: flex;
    flex-direction: column;
}

.mb-name {
    font-size: 12px;
}

.mb-img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}

.mb-member {
    padding: 8px 0;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    text-decoration: none;
}

.mbt-border {
    width: 100%;
    margin-top: 16px;
    border-top: 1px solid rgba(238, 238, 238, 1);
}

.mb-member:last-child {
    border-bottom: none;
}

.mb-stats {
    font-size: 10px;
    color: #5F6368;
}

.mbb-label {
    font-size: 12px;
    color: #5F6368;
}

.mb-btn {
    width: calc(100% - 3px);
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 100px;
}

.mb-btn-no {
    color: #3C4043 !important;
    border: 1px solid rgba(210, 210, 210, 1) !important;
    background-color: #FFFFFF !important;
}

.mb-btn-yes {
    color: #FFFFFF !important;
    border: 1px solid #34C759 !important;
    background-color: #34C759 !important;
}

.gid-nav-cont {
    overflow-x: auto;
}

.gid-nav {
    gap: 22px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.gn-link {
    white-space: nowrap;
    font-size: 14px;
    color: rgba(95, 99, 104, 1);
    position: relative;
}

.gn-link.active {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;

}

.gn-link.active::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #34C759;
}

.gt-btn {
    font-size: 11px;
    color: rgba(60, 64, 67, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(210, 210, 210, 1);
    padding: 4px 12px;
    border-radius: 100px;
}

.gt-btns {
    margin-bottom: 18px;
}

.gt-btn.active,
.gt-btn:hover {
    color: #FFFFFF;
    background-color: #34C759;
    border: 1px solid #34C759;
}

.gt-match {
    padding: 18px 12px;
    box-shadow: 0px 1px 2px rgba(60, 63, 66, 0.15), 0 1px 3px rgba(60, 63, 66, 0.15);
    border-radius: 4px;
}

.gtmt-logo {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 1);
    object-fit: cover;
    object-position: center;
}

.gtm-date {
    font-size: 12px;
    color: rgba(32, 33, 36, 1);
}

.gtmt-name {
    font-size: 12px;
    color: rgba(32, 33, 36, 1);
}

.gtm-result-btn {
    font-size: 10px;
    color: rgba(95, 99, 104, 0.87) !important;
    padding: 6px 10px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(238, 238, 238, 1) !important;
}

.gtmr-vs {
    font-size: 14px;
    color: rgba(95, 99, 104, 1);
}

.btn-sm {
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 12px;
    line-height: 100%;
}

.btn-outline-success {
    color: #34C759 !important;
    border: 1px solid #34C759 !important;
    background-color: #FFFFFF !important;
}

.more-info-btn,
.player-info-btn {
    font-size: 12px;
    cursor: pointer;
    color: #AF52DE;
    text-decoration: none;
    white-space: nowrap;
}

.gtm-label {
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    font-size: 8px;
    color: #5F6368;
}

.gtc-inner {
    padding: 16px;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(60, 63, 66, 0.15), 0 1px 3px rgba(60, 63, 66, 0.15);
}

.gtc-inner .gid-nav {
    border-bottom-color: rgba(210, 210, 210, 1);
}

.gtci-check .form-check-input {
    height: 18px;
    width: 18px;
    border: 1px solid rgba(210, 210, 210, 1);
    background-color: #fff;
    box-shadow: none !important;
    border-radius: 2px;
}

.gtci-check .form-check-input:checked {
    background-image: url(../img/gtc-checked.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.gtci-check {
    font-size: 12px;
    color: #5F6368;
}

.gtc-matches {
    gap: 20px;
}

.gtcl-name {
    font-size: 10px;
    color: #5F6368;
}

.gtc-league {
    gap: 12px;
}

.gtcl-logo {
    height: 26px;
    width: 26px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 1);
    object-fit: cover;
    object-position: center;
}

.gtcl-rating {
    line-height: 100%;
    font-size: 8px;
    color: #34C759;
}

.gtcm-teams {
    gap: 2px;
}

.gtcm-teams .gtmt-logo {
    height: 16px;
    width: 16px;
}

.gtcm-teams .gtmt-name {
    font-size: 10px;
    color: #5F6368;
}

.gtcm-time {
    text-align: center;
    font-size: 8px;
    color: #5F6368;
}

.gtcm-border {
    width: 1px;
    background-color: #D2D2D2;
}

.gtcm-number {
    font-size: 10px;
    color: #5F6368;
}

.gtcm-red {
    color: #FF2D55;
}

.gtc-row {
    position: relative;
}

.gtc-row::after {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    height: calc(100% + 24px);
    width: 1px;
    background-color: #D2D2D2;
    transform: translateX(-50%);
    z-index: 0;
}

.gt-comparison {
    display: none;
}

.gt-match.expanded .gt-comparison {
    display: block;
}

.gt-match.expanded .mib-chevron {
    transform: rotate(180deg);
}

.groups-sec {
    background-color: rgba(52, 199, 89, 0.06);
    padding: 30px;
}

.btn-gc-join {
    padding: 3px 16px;
    border-radius: 100px;
    background-color: #34C759 !important;
    color: #FFFFFF !important;
    font-size: 12px;
    border-color: #34C759 !important;
}

.group-card {
    width: 220px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 14px;
    box-shadow: 0 1px 3px rgba(60, 63, 66, 0.15), 0 1px 4px rgba(60, 63, 66, 0.15);
}

.gc-tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 5.3px;
}

.gct-private {
    color: #FF2D55;
    background-color: rgba(255, 45, 85, 0.1);
}

.gct-open {
    color: #5856D6;
    background-color: rgba(88, 86, 214, 0.1);
}

.gct-public {
    color: #C26C03;
    background-color: rgba(194, 108, 3, 0.1);
}

.gc-logo {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;

}

.groups-slider-cont {
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
}

.groups-slider {
    position: relative;
}

.groups-slider .slick-prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.groups-slider .slick-next {
    right: 0;
    transform: translate(50%, -50%);
}

.gc-name {
    font-size: 12px;
    font-weight: 500;
    color: #202124;
}

.group-card .gic-label {
    font-size: 8px;
}

.group-card .gic-value {
    font-size: 12px;
}

.group-card .gi-stats {
    gap: 16px !important;
    margin-top: 12px;
}

.gsc-title {
    font-size: 14px;
}

.gc-cont {
    padding: 6px;
}

.player-badge {
    height: 84px;
    width: 84px;
    border-radius: 1000px;
    border: 3px solid #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ECECEC;
}


.player-badge.pb-sm {
    height: 32px;
    width: 32px;
    border-width: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pb-sm .badge-img {
    width: 16px;
}

.badge-img {
    width: 42px;
}

.g-left-flex {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.psp-card {
    background-color: #FFFFFF;
    padding: 15px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(60, 63, 66, 0.15), 01px 3px rgba(60, 63, 66, 0.15);
}

.pst-performance {
    padding: 3px 5px;
    background-color: rgba(52, 199, 89, 0.1);
    color: #34C759;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.psp-table td,
.psp-table th {
    vertical-align: middle;
}

.psp-table th {
    font-size: 8px;
    color: #5F6368;
    font-weight: 700;
    text-transform: uppercase;
}

.pst-badge {
    height: 16px;
}

.psp-table td {
    font-weight: 700;
    font-size: 12px;
    color: #202124;
}

.pi-card {
    padding: 12px 8px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(237, 237, 237, 1);
    border-radius: 5px;
}

.pi-club-logo {
    height: 29px;
    width: 29px;
    border-radius: 0;
    object-fit: contain;
    object-position: center;
}

.pi-club {
    font-size: 10px;
}

.pi-cont {
    padding: 14px;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(60, 63, 66, 0.15), 0 1px 3px rgba(60, 63, 66, 0.15);
}

.pi-contract {
    font-size: 8px;
    color: #5F6368;
}
.pic-border{
    border-bottom: 1px solid rgba(233, 233, 233, 1);

}
.pi-row{
    margin: 0 -6px;
}

.pi-row>div{
    padding: 0 6px;
}
.pic-info{
    white-space: nowrap;
    font-size: 8px;
    color: #5F6368;
}
.pic-title{
    font-size: 10px;
}
@media (min-width: 992px) {
    .content-container {
        max-width: 860px !important;
    }

    .content-container-2 {
        max-width: 984px !important;
    }
}


@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }

    .container-1200 {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .nav-search {
        transform: translate(-75%, -50%);
    }
}

@media (max-width: 992px) {

    .slick-next {
        right: calc(00px);
    }

    .slick-prev {
        left: calc(00px);
    }

    .carousel .slick-track {
        padding: 0;
        gap: 0;
    }

    .carousel .slick-active {
        transform: unset;
    }

    .sc-img {
        height: auto;
        width: 100%;
    }

    .nav-search {
        position: static;
        transform: unset;
    }

    .navbar-collapse {
        padding: 16px;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .hsc-inp {
        width: 100%;
    }

    .navbar-nav {
        gap: 10px;
    }

    .signupSigninPage {
        min-width: unset;
        background-image: unset;
    }

    .ssp-right,
    .ssp-left {
        width: 100%;
    }

    .adg-container .ssp-left .ssp-content {
        width: 100%;
    }

    .gtc-row::after {
        display: none;
    }

    .gt-col-2 {
        border-bottom: 1px solid #D2D2D2;
    }
}

@media (max-width: 768px) {

    .ssp-laptop {
        height: auto;
    }
}

@media (max-width: 576px) {

    .gi-content {
        gap: 16px;
    }

    .gi-stats {
        gap: 8px;
    }

    .page-title-bg {
        height: 200px;
    }
}